@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
h1 h2 h3 h4{
    font-family: 'Poppins', sans-serif;
}


 body{ 
    /* min-height: 100vh; */
    /* overflow-x: hidden; */
    background:#000;
    color: white;
} 
/* ---------Header---- */
.container-1{
    width: 1440px;
	margin: 0 auto;
	position: relative;
	
}
.header{
    width:1440px;
    /* background: tomato; */
    position: relative;
   margin: 0 auto;
   position: relative;

}
.row{
    position: relative;
}
.logo{
    
    
    width: 100px;
    height: 32px;
    font-size: 13px;
    text-align: center;
    margin: 40px 130px;
    z-index: 9999;
    
}

.logo  a{
    text-decoration: none;
    color: white; 
}
.logo a:hover{
    color:tomato ;
    position: relative;
    transition:  0.5s;
}

#banner{
    /* position: absolute; */
    width: 562px;
    height: 779px;
}


.nav{
    
    
    height: 110px;
   
    right: 80px;
    font-size: 13px;
     display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center; 
    z-index: 9999;
    padding-right: 45px;
}
.nav ul{
    list-style: none;
    display: flex;
}
.nav li a{
    display: block;
    text-decoration: none;
    margin-left: 30px;
    color: white;
    position: relative;
    transition:  0.5s;
    
}
.nav ul:hover li a{
    color: tomato;
    transform:  scale(1.5);
    opacity: .2;
    filter: blur(5px);
}
.nav ul li a:hover{
    transform: scale(2);
    opacity: 1;
    filter: blur(0);
}


/* -------Menu------ */
/* Title--- */
.title{
    width: 562px;
    height: 128px;
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    top: 30px;
    left: 440px;
    z-index: 9999;
    margin-bottom: 10px;
}
.title h2{
    margin-top: 20px;
}
.title h2 a{
    text-decoration: none;
}
.title h2 a:hover{
    color: tomato;
}
.main .flash{
    top: 10px;
    position: relative;
    letter-spacing: 2px;
    color: #0e3742;
    text-transform: uppercase;
    width: 100%;
    
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0004);
    line-height: 0.70em;
    outline: none;
    animation: animate 5s linear infinite;





}
/* <---- Chu scroll---- */
/* <---- Chu scroll---- */
section{
    position: relative;
    height: 100vh;
    padding: 100px;
    display: flex; 
    justify-content:center;
    align-items: center;
    text-transform: uppercase;
}

#text{
     font-family: 'Poppins', sans-serif;
    padding-top:300px;
    position: absolute;
    right: -230px;
    color: white;
    white-space:nowrap ;
    
    font-size: 7vw;
    z-index: 9;
    font-weight: 700;
    /* transition-delay: .6s; */
    /* transform: translateY(100px); */
}
#text1{
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    padding-top: 530px;
    position: absolute;
    left: -450px;
    color:white;
    white-space: nowrap;
    font-size: 7vw;
    z-index: 999;
}
#b1 {
    position: relative;
    left: 190px;
    top:200px;
    width: 580px;
    height: 779px;
    z-index: 1;
    border-radius: 30px;
    
    
     
}
#WallE{
    position: relative;
    right: 320px;
    top: 100px;
    z-index: 6;
    width: 362px;
    height: 579px;
    white-space: nowrap;
    
    
}
/* --------/--------- */
/* Feature Project---- */
.Featured{
   
    /* background:royalblue; */
    height: 100vh;
    padding-top: 100px;
    margin: 50px 0;
}
.work{
    height: 250px;
    width: 100%;
    /* background: chocolate; */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    
}

.work .outline span{
   
    display: block;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    /* background: cornflowerblue; */
    font-size: 12vw;
    line-height: 90px;
    letter-spacing: 25px; 

}


.Featured #Instagram img{
    margin-top: 100px;
    height: 543px;
    width: 500px;
    border-top-right-radius:180px ;
    border-top-left-radius:180px ;
}
.name{
    display: flex;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
} 
.name p{
    font-size: 19px ;
}
.name div{
    padding-left: 50px;
}
.name span{
    font-size: 10px;
}
/* ------------Instagram----- */
/* btn-------------------- */
.branding-logo{
    height: 90vh;
    position: relative;
    
}
.btn{
    position:absolute ;
    bottom: 90px;
    left: 100px;
    z-index: 9999;
    
}
.btn a{
    position: relative;
    display: inline-block;
    padding: 25px 45px;
    color:white;
   letter-spacing: 4px;
   text-decoration: none;
   font-size: 20px;
   overflow: hidden;
   transition: 0.2s;
}
.btn a:hover{
    color:mediumseagreen;
    background: white;
    box-shadow: 0 0 10px white,0 0 40px white,0 0 80px white;
    transition-delay: 1s;
}
.btn a span{
    position: absolute;
    display: block;
}
.btn a span:nth-child(1){
    top:0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,white);

}
.btn a:hover span:nth-child(1){
    left: 100%;
    transition: 1s;
}
.btn a span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,white);

}
.btn a:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
.btn a span:nth-child(2){
    top:-100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,white);

}
.btn a:hover span:nth-child(2){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
.btn a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,white);

}
.btn a:hover span:nth-child(4){
    bottom:  100%;
    transition: 1s;
    transition-delay: 0.75s;
}
/* ----------//----------laptop----- */
.laptop img{
    margin-top: 100px;
    width: 611px;
    height: 393px;
    position: absolute;
    right: 0px;
    bottom: 100px;
    border-radius: 30px;
}
.c1 img{
    position: absolute;
    width: 400px;
    height: 320px;
    bottom: 170px;
    left: 35px;
}

#laptop-1{
    position: absolute;
    display: flex;
    font-family: 'Poppins', sans-serif;
    /* margin-top: 20px; */
    bottom: 20px;
    right: 440px;
} 
#laptop-1 p{
    font-size: 19px ;
}
#laptop-1 div{
    padding-left: 50px;
}
#laptop-1 span{
    font-size: 10px;
}
/* ---------------------------------// skill------------------------------- */
.skill-text{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}
.skill-text h2{
    top:-80px;
    position: relative;
    letter-spacing: 15px;
    color: #0e3742;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0004);
    line-height: 0.70em;
    outline: none;
    animation: animate 5s linear infinite;
    font-size: 35px;
   
}
@keyframes animate
{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
    {
        color: #0e3742;
        text-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
    {
        color: #fff;
        text-shadow: 0 0 10px white, 
                    0 0 20px white,
                    0 0 40px white,
                    0 0 80px white,
                    0 0 160px white;
    }
}
/* ------------text------------ */
/* ---------------------------- */
.skills{
    background: linear-gradient(0deg,#1b1b1b,#222,#1b1b1b);
    position: relative;
    width: 600px;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s linear;
    text-align: center;
}
.skill{
    position: relative;
    margin: 30px;
}
.skill-name{
    color:#b1b1a9;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
}
.skill-bar{
    width: 85%;
    position: relative;
    height: 5px;
    /* background: #b1b1a9; */
    border-radius: 4px;
}
.progressone,.progresstwo,.progressthree,.progressfour{
    height: 6px;
    width: 40%;
    border-radius: 4px;
    transition:0.4s;
    /* background: #ff2f74; */
    top: 50px;
    /* padding-top; */
}
.progressone{
    
    background: #1441F7;
    box-shadow: 0px 0px 40px 4px #1441F7; 
    width: 0%;
}
.progresstwo{
    background:  #FF6517;
    box-shadow: 0px 0px 40px 4px #FF6517;
    width: 0%;
}
.progressthree{
    background: #D9185F;
    box-shadow: 0px 0px 40px 4px #D9185F;
    width: 0%;
}
.progressfour{
    background: #45BF55;
    box-shadow: 0px 0px 40px 4px #45BF55;
    width: 0%;
}


.percentone,.percenttwo,.percentthree,.percentfour{
    position:absolute;
    width: 50px;
    height: 50px;
    border: 2px solid red;
    border-radius: 50px;
    padding: 6px;
    color: #b1b1a9;
    top:-5px;
    right: 17px;
    transition: 0.4s linear;
    line-height: 35px;
    font-size: 14px;
}

.percentone{
    border:2px solid #1441F7;
    box-shadow: 0px 0px 40px 4px #1441F7;
   
} 
.percenttwo{
    border:2px solid #FF6517;
    box-shadow: 0px 0px 40px 4px #FF6517;
    /* width: 80%; */
}
.percentthree{
    border:2px solid #D9185F;
    box-shadow: 0px 0px 40px 4px #D9185F;
    
} 
.percentfour{
    border:2px solid #45BF55;
    box-shadow: 0px 0px 40px 4px #45BF55;
    
} 
 .skills:hover{
    transform: translateY(-10px);
    box-shadow: 0px 15px 35px rgba(0,0,0 .5);
}
.skills:hover .percentone{
    box-shadow: 0px 0px 40px 4px #1441F7;
}
.skills:hover .percenttwo{
    box-shadow: 0px 0px 40px 4px #FF6517;
    transition-delay: 1s;
}
.skills:hover .percentthree{
    box-shadow: 0px 0px 40px 4px #D9185F;
    transition-delay: 2s;
}
.skills:hover .percentfour{
    box-shadow: 0px 0px 40px 4px #45BF55;
    transition-delay: 2s;
}
.skills:hover .progressone{
    width: 60%;
} 
.skills:hover .progresstwo{
    width: 70%;
} 
.skills:hover .progressthree{
    width: 60%;
} 
.skills:hover .progressfour{
    width: 50%;
} 
/* -----------------------------------------------------------contacnt======= */
.contact-zpmin{
    position: relative;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact-text span{
    /* position: absolute; */
    display: block;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    /* background: cornflowerblue; */
    font-size: 7vw;
     line-height: 8px;
    letter-spacing: 10px; 
   
    margin-bottom: 100px;
}

 

.contact-zpmin .boot{
    position: absolute;
    bottom: 190px;;
    z-index: 9999;
    width: 500px;
    height: 260px;
    left: 150px;
    z-index: 1;
}
.info{
    font-size: 18px;
}
.info #acb{
    font-size: 28px;
    right: 50px;
    top:-50px;
    position: relative;
    letter-spacing: 15px;
    color: #0e3742;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0004);
    line-height: 0.70em;
    outline: none;
    animation: animate 5s linear infinite;
}

.footer{
   
    /* padding-top: 60px; */
    height: 90px;
    text-align: center;
  
}


















/* -------stoker---- */
.text-stroke-black{
    color: transparent;
    -webkit-text-stroke: 3px;
    -webkit-text-stroke-color:white;
}

